<!doctype html>
<html ng-app="todoApp">
<head>
    <title>Todo</title>
    <meta charset="UTF-8">
    <link href="css/style.css" rel="stylesheet"/>
    <script src="js/libs/angular-1.0.1.js"></script>
    <script src="js/libs/angular-resource-1.0.1.js"></script>
    <script src="js/app/application.js"></script>
    <script src="js/app/services.js"></script>
	<script src="js/app/todoCtrl.js"></script>
	<script src="js/app/loginCtrl.js"></script>    
</head>
<body>
<div id="body">

    <div id="page">

        <div id="pageHeader">
            <h1>Todo.ng</h1>
            <div id="userBlock" ng-controller="LoginCtrl">
	            <form id="userLogin" ng-submit="login()">
	            	<input ng-model="username" type="text" class="loginforminput"/><br>
	            	<input ng-model="password" type="password" class="loginforminput"/><br>
	            	<input type="submit" value="Login" class="button"/>
	            	<span id="loginAlert"></span>
	            </form>
	            <span id="userInfo"></span>
            </div>
        </div>

        <div id="pageBody">
            <div ng-view></div>
        </div>

    </div>

</div>
</body>
</html>
